---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "HPT Model"

---
<BaseLayout pageTitle{pageTitle}>
	<h3>An overview of the Human Performance Technology Model</h3>
	<img src="/hpt-model.jpg" alt="Van Tien et al. HPT Model"/>
	<p>Image credited to Van Tiem et al., 2012 </p>
</BaseLayout>