---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Resources"

---

<BaseLayout pageTitle={pageTitle}>
	<h2>Here are more helpful resources for the HPT Model</h2>
</BaseLayout>
